body {
	font-family: $body-font-family;
	font-size: $body-font-size;
	line-height: $body-line-height;
	font-weight: $body-font-weight;
	color: $body-font-color;
	-webkit-font-smoothing: antialiased;
    &.body-no-scroll {
      overflow: hidden;
      position: fixed;
    }
	@include respond-to(tablets-large) {
		font-size: $body-font-size-tablets-large;
	}
	@include respond-to(tablets-small) {
		font-size: $body-font-size-tablets-small;
	}
	@include respond-to(phones) {
		font-size: $body-font-size-phones;
		padding-top: 50px;
	}
}

h1, h2, h3, h4, h5 {
	font-family: $body-font-family;
	color: $site-color-dark-graphite;
	line-height: 100%;
	font-weight: 600;
  	margin-top: 0 !important;
	&:last-child {
		margin-bottom: 0;
	}
	a {
		color: inherit;
		&:hover, &:focus {
			color: inherit;
		}
	}
}

h1 {
	font-size: 50px;
	@include respond-to(tablets-small) {
		font-size: 36px;
	}
	@include respond-to(phones) {
		font-size: 26px;
	}
}

h2 {
	font-size: 40px;
	@include respond-to(tablets-small) {
		font-size: 30px;
	}
	@include respond-to(phones) {
		font-size: 22px;
	}
	small {
		font-size: 16px;
		line-height: 1.3em;
		@include respond-to(tablets-small) {
			font-size: 14px;
		}
		@include respond-to(phones) {
			font-size: 13px;
		}
	}
}

h3 {
	font-size: 30px;
	@include respond-to(tablets-small) {
		font-size: 24px;
	}
	@include respond-to(phones) {
		font-size: 18px;
	}
}

h4 {
	font-size: 22px;
	@include respond-to(tablets-small) {
		font-size: 18px;
	}
	@include respond-to(phones) {
		font-size: 16px;
	}
}

h5 {
	font-size: 16px;
	@include respond-to(tablets-small) {
		font-size: 15px;
	}
	@include respond-to(phones) {
		font-size: 14px;
	}
}

.page-title {
	margin-bottom: 15px;
	color: $site-color-dark-graphite;
	font-size: 40px;
	text-align: center;
	@include respond-to(tablets-small) {
		font-size: 30px;
	}
	@include respond-to(phones) {
		font-size: 22px;
		margin-bottom: 25px;
	}
}
.page-subtitle {
	color: $site-color-medium-graphite;
	text-align: center;
	margin-bottom: 20px;
	@include respond-to(phones) {
		margin-bottom: 15px;
	}
	a {
		color: $site-color-medium-graphite;
		&:hover {
			color: $site-color-dark-graphite;
		}
	}
}

a {
	@include transition(150ms);
	color: $link-color;
	&:hover {
		color: $link-active-color;
		text-decoration: none;
	}
	&:visited, &:focus {
		outline: none;
	}
	&.underlined {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	&.link-with-arrow {
		&:after {
			content: "\f061";
			font-family: FontAwesome;
			font-weight: normal;
			font-style: normal;
			text-decoration: none;
			-webkit-font-smoothing: antialiased;
		    display: inline-block;
		    margin-left: 5px;
		    font-size: 10px;
		}
	}
}

p:last-child {
	margin-bottom: 0;
}

.list {
    padding-left: 75px;
    line-height: 28px;
    margin: 30px 0;
    &.list-marked {
        list-style: none;
        padding-left: 50px;
        @include respond-to(tablets-small) {
          padding-left: 30px;
        }
        @include respond-to(phones) {
          padding-left: 20px;
        }
        > li {
            &:before {
                font-family: 'FontAwesome';
                margin-right: 10px;
                font-size: 18px;
                vertical-align: top;
            }
        }
        &.list-marked-question {
            > li {
                &:before {
                    content: "\f059";
                    color: $site-color-red;
                }
            }
        }
        &.list-marked-ok {
            > li {
                &:before {
                    content: "\f058";
                    color: $site-color-green;
                }
            }
        }
        &.list-marked-snowflake {
            > li {
                &:before {
                    float: left;
                    margin-top: 3px;
                    content: url(image_path("elements/snowflake.svg"));
                  color: $site-color-blue-dim;
                }
            }
        }
    }
    > li {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

small {
	font-size: 16px;
	line-height: 1.3em;
	@include respond-to(tablets-small) {
		font-size: 14px;
	}
	@include respond-to(phones) {
		font-size: 13px;
	}
}

strong {
	font-weight: 700;
}

code {
  white-space: pre-wrap;
}

blockquote {
    padding: 5px 15px 5px 40px;
    border-left: 2px solid $site-color-red;
    @include respond-to(phones) {
        padding: 5px 15px 5px 25px;
    }
    &:last-child {
        margin-bottom: 0;
    }
    .sentence {
        &:before {
            content: '❝';
        }
        &:after {
            content: '❞';
        }
    }
    .author {
        font-size: 20px;
        line-height: 28px;
        @include respond-to(phones) {
            font-size: 14px;
            line-height: 18px;
        }
        &:before {
            content: '—';
            margin-right: 5px;
        }
    }
}

.table {
    margin-bottom: 0;
}
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: middle;
}

.alert {
    font-size: 16px;
    border-radius: 0;
    border: none;
    padding: 15px 20px;
    margin-bottom: 30px;
    color: $site-color-medium-graphite;
}

.with-notification {
    &:after {
        position: absolute;
        top: -3px;
        right: -3px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #ffffff;
        color: rgba($site-color-black, 0.9);
        z-index: 1;
        content: attr(data-notification-number);
        font-size: 12px;
        text-align: center;
        line-height: 18px;
    }
}

.items-separator {
	display: block;
	width: 100%;
	margin-bottom: 40px;
	@include clearfix();
	&:last-child {
		margin-bottom: 0;
	}
	@include respond-to(phones) {
		margin-bottom: 0;
	}
}

.pagination-holder {
	@include respond-to(phones) {
		text-align: center;
	}
}

@include custom-label('custom-label-red', $site-color-red-dim, $site-color-red);

/* Color helper classes */
.color-white {
	color: #fff;
}

.text-subtle {
  color: $site-color-medium-graphite;
}



