*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'proxima-nova';
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $color-emperor;
  background: $color-wild-sand;
  @include respond-to(tablets-portrait) {
    font-size: 14px;
    line-height: 16px;
  }
  &.body-no-scroll {
    overflow: hidden;
    position: fixed;
  }
}

/* Typography */
h1, h2, h3, h4 {
  font-family: 'proxima-nova';
  font-weight: 600;
  color: $color-emperor;
  margin-top: 0;
  a {
    color: inherit;
    text-decoration: none;
  }
}

p {
  margin: 0 0 20px 0;
  &:last-child {
    margin-bottom: 0;
  }
}

/* UI Elements */
// Badges
.badge {
  font-size: 14px;
  line-height: 14px;
  height: 14px;
  padding: 0 5px;
  border-radius: 7px;
  display: inline-flex;
  color: $color-white;
  font-weight: 700;
  &.badge-info {
    background: $color-bali-hai;
  }
  &.badge-alert {
    background: $color-alizarin-crimson;
  }
  @include respond-to(phones-landscape) {
    font-size: 10px;
  }
}
