/* HEADER styles */
header {
  padding: 10px 10px 0px 10px;
  background: $header-bg;
  z-index: 1050;
  @include respond-to(phones) {
    padding: 10px 15px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
  }
}

.egghead-search-input-container {
  position: relative;
  max-width: 230px;
  margin-left: 10px;

  @include respond-to(tablets-large) {
    max-width: 180px;
    .lesson-details-container {
      flex-direction: column;
      .lesson-details {
        margin-bottom: 10px;
      }
    }

  }
  @include respond-to(phones) {
    max-width: 100%;
    width: 100%;
  }

  .search-component .typeahead-container {
    padding: 0 10px 10px 10px;
  }

  .search-component .icon-search, .search-component .icon-spinner {
    padding: 0 17px;
  }

  .search-component.collapsed .icon-search, .search-component.collapsed .icon-spinner {
    padding: 0 8px;
  }

  .search-component .icon-remove-circle {
    margin-left: -33px;
  }

}

.header-navigation-holder {
  margin-bottom: 0;
  min-height: 1px;
  .logo {
    display: block;
    padding: 0;
    margin-right: 20px;
    margin-top: 5px;
    @include respond-to(tablets-small) {
      margin-right: 10px;
    }
    @include respond-to(tablets-small) {
      max-width: 162px;
    }
    @include respond-to(phones) {
      height: auto;
    }
  }
  .header-navigation-toggle {
    @include respond-to(phones) {
      margin: 0;
      color: #ffffff;
      padding: 0;
      display: block;
      width: 30px;
      height: 30px;
      font-size: 24px;
      line-height: 30px;
      border: none;
      [class*='icon'] {
        vertical-align: middle;
      }
    }
  }
  .search-field-holder {
    position: relative;
    width: 230px;
    margin-top: 5px;
    @include respond-to(tablets-large) {
      width: 130px;
      font-size: 14px;
    }
    @include transition(250ms);
    @include respond-to(phones) {
      width: 100%;
    }

    div.autocomplete-input, .react-typeahead-input-container {
      width: 100%;
    }

    &:before {
      display: none;
    }
    &.collapsed {
      width: 30px;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
      &:before {
        display: block;
        content: '';
        position: absolute;
        z-index: 20;
        width: 100%;
        height: 100%;
      }
      input {
        width: 0px;
        background: none $header-bg;
      }
      .btn-submit {
        color: $site-color-medium-graphite;
        width: 30px;
        height: 30px;
      }
    }
    input {
      height: 30px;
      border: none;
      position: relative;
      width: 100%;
      color: $site-color-grey;
      background: none $header-search-field-bg;
      font-size: $header-navigation-menu-item-font-size;
      line-height: 24px;
      padding: 4px 35px 4px 15px;
      @include custom-placeholder($color: $site-color-medium-graphite, $font-size: 16px, $line-height: 22px);
      @include respond-to(tablets-large) {
        font-size: $header-navigation-menu-item-font-tablets;
      }
    }
    .btn-submit {
      width: 30px;
      height: 30px;
      font-size: 18px;
    }
  }
}

.header-navigation {
  @include respond-to(phones) {
    box-shadow: none;
    border: none;
    padding: 0;
    &.collapse.in {
      max-height: 370px;
    }
  }
  .userpic-holder {
    display: inline-block;
  }
  .userpic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

.header-navigation-list {
  @include respond-to(phones) {
    margin: 0;
    &:first-child {
      margin-top: 15px;
    }
    &:last-child {
      margin-bottom: 15px;
    }
  }
  .dropdown-menu > li > a {
    @include respond-to(phones) {
      white-space: pre-line;
    }
  }
  .technology-title {
    padding-left: 5px;
  }
  > li {
    margin-top: 7px;
    &.half-height {
      margin-top: 4px;
    }
    &.full-height {
      margin-top: 0;
      margin-left: 5px;
    }
    > a {
      font-size: $header-navigation-menu-item-font-size;
      font-weight: $header-navigation-menu-item-font-weight;
      line-height: $header-navigation-menu-item-line-height;
      color: $header-navigation-menu-item-color;
      padding: $header-navigation-menu-item-padding;
      @include font-smoothing(on);
      @include respond-to(tablets-small) {
        font-size: $header-navigation-menu-item-font-tablets;
        padding: $header-navigation-menu-item-padding-tablets;
      }
      &:hover, &:focus {
        background: $header-bg;
        color: $header-navigation-menu-item-color-hover;
        .caret {
          border-bottom-color: $site-color-red;
          border-top-color: $site-color-red;
        }
      }
      &.go-pro {
        font-size: 14px;
        @include respond-to(phones) {
          margin: 10px 0 0 7px;
          float: left;
        }
        &:hover {
          color: #ffffff;
          font-size: 14px;
        }
      }
    }
    &.open {
      > a, > a:hover, > a:focus {
        background: $header-bg;
        color: $header-navigation-menu-item-color-hover;
        .caret {
          border-bottom-color: $site-color-red;
          border-top-color: $site-color-red;
        }
      }
    }
  }
  .caret {
    border-bottom-color: $site-color-red-dim;
    border-top-color: $site-color-red-dim;
  }
}

// The dropdown menu (ul)
.dropdown-menu {
  // Links within the dropdown menu
  > li > a {
    @include respond-to(phones) {
      color: #9e9e9e;
    }

  }
}
