.training {
  background-color: #fff;
  color: #fff;
  padding-top: 0;
  padding-bottom: 20px;
  font-family: "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  .training-container {
    margin: 0 auto;
    position: relative;

  }

  .training-graphic {
    max-width: 100%;
    height: auto;
  }
}

