.post {
  padding: 25px 30px 20px 30px;
  background-color: $site-color-grey;
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
  .post-avatar-holder {
    padding-right: 25px;
    flex-shrink: 0;
    width: 125px;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  .post-content-holder {
    flex-grow: 1;
  }
  .forum-actions-holder {
    margin-bottom: 0;
    margin-top: 10px;
  }
  .moderation-alert {
    margin-bottom: 30px;
    padding: 15px;
    font-style: italic;
    color: $site-color-white;
    background: $site-color-dusty-gray;
  }
}
.post-details {
  margin-top: 10px;
  font-size: 16px;
  margin-bottom: 5px;
  > span {
    &:after {
      content: ',';
      margin-right: 3px;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  .username {
    font-weight: 600;
    color: $site-color-dark-graphite;
  }
  .post-time {
    color: $site-color-light-graphite;
    &:hover {
      text-decoration: underline;
    }
  }
}
.post-text {
  font-size: 20px;
  line-height: 28px;
  color: $site-color-medium-graphite;
}
.in-reply-to {
  font-size: 14px;
  font-style: italic;
  color: $site-color-dark-graphite;
  margin-top: 10px;
  display: inline-block;
  font-weight: 600;
  &:focus {
    color: $site-color-dark-graphite;
    text-decoration: none;
  }
  &:hover {
    color: $site-color-dark-graphite;
    text-decoration: underline;
  }
}

@include respond-to(tablets-small) {
  .post {
    .post-avatar-holder {
      padding-right: 15px;
      width: 75px;
    }
  }
  .post-text {
    font-size: 16px;
    line-height: 22px;
  }
}
@include respond-to(phones) {
  .post {
    flex-direction: column;
    .moderation-alert {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 20px;
      padding: 10px;
    }
  }
  .post-text {
    font-size: 14px;
    line-height: 20px;
  }
}