.tech-logo-bar {
  .tech-logo {

    padding: 5px;
    &:hover {
      @include transition(75ms);
      opacity: 1;
      @include transform(scale(1.01));
    }
    .img-responsive {
      margin: 0 auto;
      max-height: 150px;
    }
  }
}