.instructor-list {
  color: $site-color-dark-graphite;
  font-size: .85em;

  .thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.428571429;
    background-color: transparent;
    border: 0 solid #dddddd;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
    opacity: 0.9;
    &:hover {
      @include transition(75ms);
      opacity: 1;
    }
    img {
      border-radius: 50%;
    }
    p {
      a {
        color: $site-color-dark-graphite !important;
      }
    }
  }
}