
.section-subscription {
  .item-holder {
    text-align: center;
    .item {
      position: relative;
      @include respond-to(phones) {
        & > * {
          margin-bottom: 20px !important;
          &:last-child {
            margin-bottom: 0 !important;
          }
        }
      }
      .btn-plan {
        position: absolute;
        bottom: 50px;
        left: 40px;
        right: 40px;
        font-size: 1.1em;
        small {
          font-size: .55em;
        }
        @include respond-to(tablets-small) {
          bottom: 30px;
          left: 30px;
          right: 30px;
        }
      }
    }
    &.item-holder-left,
    &.item-holder-right {
      padding-top: 10px;
      padding-bottom: 10px;
      @include respond-to(phones) {
        padding-top: 0;
        padding-bottom: 0;
      }
      .item {
        min-height: 610px;
        background: $subscription-item-bg;
        padding: 50px 40px 110px 40px;
        @include respond-to(tablets-large) {
          padding: 30px 30px 85px 30px;
        }
        @include respond-to(tablets-small) {
          padding: 30px 20px 85px 20px;
          min-height: 540px;
        }
        @include respond-to(phones) {
          padding: 20px 20px 80px 20px;
          min-height: 1px;
        }
      }
    }
    &.item-holder-left {
      padding-right: 0;
      @include respond-to(phones) {
        padding-right: 15px;
      }
      .features {
        margin-bottom: 20px;
        @include respond-to(tablets-small) {
          margin-bottom: 5px;
        }
      }
      .special-feature {
        margin-top: 20px;
        display: block;
      }
    }
    &.item-holder-middle {
      position: relative;
      z-index: 100;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
      padding-left: 0;
      padding-right: 0;
      @include respond-to(phones) {
        padding-left: 15px;
        padding-right: 15px;
        box-shadow: none;
      }
      .item {
        min-height: 630px;
        background: $subscription-item-pro-bg;
        padding: 60px 40px 110px 40px;
        @include respond-to(tablets-large) {
          padding: 40px 30px 110px 30px;
        }
        @include respond-to(tablets-small) {
          padding: 40px 20px 85px 20px;
          min-height: 560px;
        }
        @include respond-to(phones) {
          padding: 20px 20px 80px 20px;
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
          min-height: 1px;
        }
      }
      .features {
        margin-bottom: 65px;
        @include respond-to(phones) {
          margin-bottom: 20px;
        }
      }
    }
    &.item-holder-right {
      padding-left: 0;
      @include respond-to(phones) {
        padding-left: 15px;
      }
      .item {
        padding-bottom: 30px;
      }
      .title {
        margin-bottom: 55px;
      }
      .plan-logo {
        max-width: 200px;
        margin-bottom: 70px;
        @include respond-to(tablets-small) {
          margin-bottom: 65px;
        }
        @include respond-to(phones) {
          width: 100px;
          margin-bottom: 20px;
        }
      }
      .features {
        margin-bottom: 100px;
        @include respond-to(tablets-small) {
          margin-bottom: 90px;
        }
        @include respond-to(phones) {
          margin-bottom: 20px;
        }
      }
      .special-feature {
        display: block;
      }
    }
    .title {
      margin-bottom: 5px;
    }
    .description {
      margin-bottom: 20px;
      @include respond-to(phones) {
        font-size: 16px;
      }
      sup {
        font-size: 11px;
        top: -1em;
      }
    }
    .plan-logo {
      max-width: 106px;
      margin-bottom: 25px;
      @include respond-to(phones) {
        width: 50px;
        margin-bottom: 20px;
      }
    }
    .features {
      display: block;
    }
  }
  .warning {
    max-width: 720px;
    text-align: center;
    display: block;
    margin: 50px auto 0 auto;
  }
}

.button-holder-inline-block {
  display: inline-block;
}