.search {

  position: relative;
  width: 100%;
  padding: 0;

  .small {
    font-family: $body-font-family;
  }

  > * {
    padding-left: 25px;
    padding-right: 15px;

    @include respond-to(tablets-small) {
      padding-left: 15px;
    }
  }

  .pagination {
    margin-left: 20px;
  }

  .search-input-container {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $site-color-light-grey;
    border-bottom: 1px solid $site-color-grey;
    height: 100%;
    width: 100%;
  }

  .search-page-results-container {
    position: relative;
    display: flex;
    align-items: flex-start;
  }

  .search-suggestions {
    padding-left: 20px;
    font-size: 15px;
    margin-top: 25px;
  }

  .search-results {
    flex-grow: 1;
    margin-left: 40px;
    border-left: 1px solid rgba(#000, .1);
    padding-bottom: 30px;
    max-width: 590px;
    min-width: 100px;
    align-self: stretch;
    position: relative;
  }

  .search-status {
    padding: 0px 5px;
    margin: 20px 0;
    background-color: $site-color-magenta;
    display: inline-block;
    color: white;
    font-size: 12px;
    margin-left: -7px;
    font-weight: bold;

    span {display: block; margin: -3px 0;}
  }

  .icon-list-alt {
    display: inline-block;
    position: relative;
    margin-left: -2px;
  }

  .label-search {
    border: 1px solid $site-color-teal;
    border-radius: 4px;
    background: transparent;
    color: $site-color-teal;
    font-size: 10px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    padding: 1px 3px;
    vertical-align: middle;
    margin-top: -3px;
  }

  .label-size {
    @extend .label-search;
    font-size: 13px;
    border-color: lighten($site-color-light-graphite, 35);
    color: $site-color-light-graphite;
    padding: 4px 8px;
  }

  .technologies {
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 500px;

    @include respond-to(phones) {
      display: none;
    }

    @include respond-to(tablets-small) {
      margin-left: 30px;
    }
  }

  .technology {
    border: 1px solid lighten($site-color-light-graphite, 35);
    border-radius: 4px;
    position: relative;
    padding: 15px;
    width: 225px;
    margin-bottom: 20px;
    display: inline-flex;
    line-height: 1;
    align-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 13px;

    h4 {
      margin: 0;
      margin-bottom: 10px;
      color: $site-color-dark-graphite;
      font-size: 16px;
    }

    color: $site-color-light-graphite;
    div { position: relative; width: 100%; }
    img {
      width: 100px;
      min-width: 20px;
      margin: 15px;
    }
    .technology-link { margin-top: 15px; font-size: 12px; }
    .icon-plus-sign {
      color: lighten($site-color-dark-graphite, 20);
      font-weight: bold;
      white-space: nowrap;
    }
  }

  .inline-flex {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .lesson-watched-progress {
    height: 8px;
    width: 100px;
    position: relative;
    display: inline-block;
    margin-right: 5px;
    padding-top: 1px;

    .bg { background-color: lighten($site-color-light-graphite, 30); }
    .bar { background-color: desaturate($site-color-red, 40); }

    .bg, .bar-container {
      position: absolute;
      top: -2px; right: 0; bottom: 0; left: 0;
    }

    .bar-container { padding: 2px; }
    .bar { height: 100%; transition: width .5s ease; }
  }

  li {

    display: flex;
    max-width: 768px;
    width: 100%;
    position: relative;
    margin-bottom: 35px;
    margin-left: -10px;

    div.icon {
      position: relative;
      padding-top: 10px;
      color: $site-color-silver;
      font-size: 22px;
      span {background-color: white;}
      svg path {fill: $site-color-silver}

      a {
        color: $site-color-silver;
        text-decoration: none;
        &:hover {
          color: darken($site-color-silver, 20);
        }
      }

      .icon-check-sign {
        font-size: 11px;
        position: absolute;
        top: 25px;
        right: -2px;
        z-index: 1;
        pointer-events: none;
      }
    }

    .icon-graduation {
      svg {width: 27px; height: 18px;}
      display: inline-block;
      position: relative;
      margin-left: -3px;
    }

    div.content {
      position: relative;
      width: 100%;
      padding: 10px;
      transition: background-color .5s ease, padding .5s ease;
      cursor: pointer;

      &:hover {
        background-color: $site-color-light-grey;
      }
    }

    span.green {
      color: $site-color-green;
    }

    .search-link, .search-link:hover, .search-link:visited {
      text-decoration: none;
    }

    .egg-icon {
      margin-bottom: -2px;
    }

    h4 {
      margin: 0;
      padding: 0;
      font-size: 18px;
      color: $site-color-black;
      line-height: 1.2;
      background-color: transparent;
    }

    div.search-summary blockquote {
      border: 0;
      padding: 0;
      margin: 0;
    }

    div.search-summary * {
      color: $site-color-medium-graphite;
      font-size: 14px;
      position: relative;
      max-width: 100%;
      overflow: hidden;
      margin-bottom: 5px;
      margin-top: 8px;
      line-height: 1.1;
      a { color: $link-color; }
    }

    em {
      font-weight: bold;
    }

    .search-info {
      margin-top: 10px;
      font-size: 16px;
      img {display: inline-block; max-height: 20px; max-width: 20px;}
      display: flex;
      justify-content: space-between;

      > div { flex-grow: 1; }

      @include respond-to(phones) {
        flex-direction: column;
        > div { flex-grow: 0; }
      }
    }

    .search-info-item {
      padding-right: 10px;
      white-space: nowrap;
      @include respond-to(tablets-small) {
        line-height: 2.5;
      }
    }

    span.lesson-pro-tag {
      position: relative;
      display: inline;
      font-size: 13px;
      max-width: 25px;
      max-height: 25px;
      padding: 0px 8px;
      margin: 0;
      text-align: center;
      background-color: $site-color-red;
      color: white;
      font-weight: bold;
      border-radius: 3px;
    }

    .search-series {
      font-size: 13px;
      span { font-size: 11px; text-transform: uppercase; font-weight: bold; }
    }

  }

}
