.AddToLesson {
  display: inline-block;
}
.add-to-menu {
  &.open {
    .dropdown-menu {
      display: flex;
      flex-direction: column;
    }
  }
  .dropdown-menu {
    width: 200px;
    height: 160px;
    background: none;
    margin-bottom: 10px;
    left: -82px;
    border: none;
    padding: 0;
    background: $site-color-white;
    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 7px 0 7px;
      border-color: $site-color-white transparent transparent transparent;
      bottom: -8px;
      left: 50%;
      margin-left: -7px;
    }
  }
  .menu-header {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    min-height: 40px;
    background: $site-color-gallery;
    border-bottom: 1px solid $site-color-silver;
    padding: 6px;
  }
  .create-input {
    overflow: hidden;
    input {
      color: $site-color-dark-graphite;
      height: 28px;
      border: 1px solid $site-color-silver;
      padding: 3px 5px;
      line-height: 22px;
      &:focus {
        outline: none;
      }
    }
  }
  .create-submit {
    @include transition(50ms);
    float: right;
    width: 28px;
    height: 28px;
    display: block;
    background: $site-color-blue-dim;
    color: $site-color-white;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    padding: 0;
    border: none;
    outline: none !important;
    box-shadow: -2px -2px 2px $site-color-blue-calypso inset;
    border-radius: 2px;
    &:hover {
      color: $site-color-white;
      text-decoration: none;
      margin-left: 1px;
      background: $site-color-blue;
    }
    &:active {
      background: $site-color-blue;
      box-shadow: 2px 2px 2px $site-color-blue-calypso inset;
    }
    &.disabled {
      background: $site-color-light-graphite;
      box-shadow: none;
      opacity: 0.3;
      cursor: not-allowed;
    }
    .icon {
      vertical-align: middle;
    }
  }
  .list-holder {
    flex-grow: 1;
    overflow: auto;
    border-radius: 0 0 3px 3px;
    //@include scrollbars(.5em, $site-color-dark-graphite);
  }
  .loader-box {
    width: 85px;
    text-align: center;
    margin: 35px auto 0 auto;
    color: $site-color-medium-graphite;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }
  svg.egghead-loader {
    width: 24px;
    height: 24px;
    display: inline-block;
    animation: bounce 2s infinite;
    animation-timing-function: ease-in-out;
  }
}
.ajax-playlists-list {
  padding: 0;
}
.list-playlists-names {
  @extend .list-unstyled;
  margin-bottom: 5px;
  .ajax-playlists-list {
    padding: 0;
  }
  li {
    border-bottom: 1px solid $site-color-grey;
    &:last-child {
      border-bottom: none;
    }
    .watch-later {
      font-style: italic;
      color: $site-color-blue-dim;
      .icon {
        @extend .fa-clock-o;
        color: $site-color-blue-dim;
      }
      &:hover {
        color: $site-color-blue;
        .icon {
          color: $site-color-blue;
        }
      }
    }
    &.ajax-playlists-holder {
      border: none;
    }
    a {
      display: block;
      font-size: 14px;
      color: $site-color-medium-graphite;
      position: relative;
      cursor: pointer;
      @include text-overflow();
      line-height: 18px;
      padding: 5px 6px;
      text-decoration: none;
      &:hover {
        color: $site-color-medium-graphite;
        background: $site-color-gallery;
        text-decoration: none;
        .icon {
          color: $site-color-medium-graphite;
        }
      }
      &:focus {
        background: none;
        text-decoration: none;
      }
      &.state {
        &:before {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
          content: '';
          width: 100%;
          height: 100%;
        }
        &:after {
          position: absolute;
          z-index: 2;
          left: 0;
          right: 0;
          margin: auto;
        }
        &.state-has-already {
          &:before,
          &:after {
            display: none;
          }
          &:hover {
            .icon {
              color: $site-color-green;
            }
          }
          .icon {
            @extend .fa-check-circle;
            color: $site-color-green;
          }
        }
        &.state-saving {
          cursor: progress;
          text-align: center;
          &:before {
            @include gradient-striped($color: rgba(255,255,255,.15), $angle: -45deg);
            @include animation(progress-bar-stripes 2s linear infinite);
            background-size: 28px 28px;
            background-color: $site-color-blue-dim;
            display: block;
          }
          &:after {
            content: 'Saving';
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 600;
            font-style: italic;
            color: $site-color-white;
            display: inline-block;
            background: $site-color-blue;
            width: 70px;
            top: 8px;
            line-height: 16px;
            border-radius: 8px;
            display: block;
          }
        }
        &.state-successful {
          cursor: progress;
          text-align: center;
          &:before {
            background: $site-color-green;
          }
          &:after {
            color: $site-color-white;
            font-family: 'FontAwesome';
            content: "\f00c";
            font-size: 16px;
            line-height: 16px;
          }
        }
        &.state-unsuccessful {
          cursor: progress;
          text-align: center;
          &:before {
            background: $site-color-red;
          }
          &:after {
            color: $site-color-white;
            font-family: 'FontAwesome';
            content: "\f00d";
            font-size: 16px;
            line-height: 16px;
          }
        }
      }
    }
    .icon {
      color: $site-color-dusty-gray;
      font-size: 13px;
      margin-right: 6px;
      @extend .fa;
      @extend .fa-arrow-circle-right;
    }
  }
}

.item-in-list {
  &:before,
  &:after {
    display: none;
  }
  &:hover {
    .icon {
      color: $site-color-green;
    }
  }
  .icon {
    @extend .fa-check-circle;
    color: $site-color-green;
  }
}
.lesson-controls-container {
  .add-to-menu.open .dropdown-menu {
    @include respond-to(phones) {
      left: -30px;
      &:before {
        margin-left: 0;
        left: 42px;
      }
    }
  }
}