tr.destroyed td {
  background-color: $gray-light;
}

tr.lesson-row-new {
  background-color: $site-color-green-light;
}

.playlist-form {
  .cell-lesson-title {
    .title {
	  margin-bottom: 10px;
	  margin-top: 10px;
	}
  }
}

.playlists-list-row {
	.cell {
		vertical-align: top;
	}
	.title {
		margin-bottom: 5px;
	}
}
.cell-technology-title,
.cell-admin-title {
	width: 150px;
}