/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

/* Globals */
@import "globals/variables";

/* PLUGINS */

@import "plugins/bootstrap/bootstrap-sprockets";
@import "plugins/bootstrap/bootstrap";
@import "plugins/fontello/stylesheets/fontello";
@import "plugins/compass/compass";
@import "plugins/typeahead-bootstrap";
@import "plugins/social-likes";
@import "plugins/font-awesome/font-awesome";
@import "plugins/chosen";
@import "plugins/chosen_overrides";
@import "plugins/flipclock";

/* Globals */
@import "globals/bootstrap-and-overrides";
@import "globals/mixins";
@import "globals/grid-helpers";
@import "globals/fonts";
@import "globals/colors";

// _OLD
//@import "_old/forum/forum-egghead";
@import "_old/syntax";
@import "_old/socialbar";
@import "_old/koudoku/pricing-table";
@import "_old/components/components";
@import "_old/util/util";
@import "_old/pages/pages";

/* SHARED */

@import "shared/cards";
@import "shared/alerts";
@import "shared/buttons";
@import "shared/forms";
@import "shared/titles";
@import "shared/typography";
@import "shared/pagination";
@import "shared/_miscellaneous";
@import "shared/styles"; // This should be refactored and eliminated

/* SECTIONS */
@import "sections/header";
@import "sections/hero";
@import "sections/footer";


