.review-row {
  display: flex;

  .review-video{
    flex: 3;

    .speed-change{
      margin-top: 10px;
      width: 50px;
    }
  }
  .review-meta {
    flex: 2;

    .tag-input {
      width: 100%;
      font-size: 13px;
      margin-top: 15px;

      }
    .add-tag-btn{
      float: right;
      margin-top: 10px;
    }
  }

  @include respond-to(tablets-small) {
    flex-direction: column;
  }
}