.block-lessons-series {
  .item {
    margin-bottom: 50px;
    padding-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    @include respond-to(tablets-small) {
      margin-bottom: 40px;
    }
    @include respond-to(phones) {
      margin-bottom: 30px;
      max-width: 100%;
      @extend .center-block;
    }
  }
  .media-holder {
    background: $site-color-medium-graphite;
    min-height: 180px;
    text-align: center;
    position: relative;
    overflow: hidden;
    @include respond-to(tablets-large) {
      min-height: 146px;
    }
    @include respond-to(tablets-small) {
      min-height: 110px;
    }
    @include respond-to(phones) {
      min-height: 1px;
      &.cover-banner {
        width: 100%;
        height: 0;
        position: relative;
        padding-bottom: 33.33333%;
        .ratio-block {
          width: 100%;
          height: 100%;
          position: absolute;
        }
      }
    }
    .img-tech-logo,
    .img-egghead-logo {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      height: 100px;
      @include respond-to(tablets-small) {
        height: 70px;
      }
      @include respond-to(phones) {
        height: 70px;
      }
    }
    .img-admin-tech-logo {
      @include respond-to(phones) {
        width: 100%;
      }
    }
    .ratio-block {

    }
    > a {
      display: block;
      position: relative;
      img {
        @include filter(brightness(80%));
      }
      &:hover {
        img {
          @include filter(blur(0) brightness(100%));
        }
        &:before, &:after {
          opacity: 0;

        }
      }
    }
  }
}

.series-lessons-holder {
  .series-lessons-list {
    margin-bottom: 20px;
    @extend .list-unstyled;
    text-align: center;
    &:first-child {
      border-top: 2px solid $site-color-grey;
    }
    .item {

      position: relative;
      padding: 20px 0;
      border-bottom: 2px solid $site-color-grey;
      &:hover {
        background-color: $site-color-grey;
      }
      &.current {
        background-color: $site-color-light-grey;
        &:hover {
          background-color: $site-color-light-grey;
        }
      }
      &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: none;
      }
      &.lesson-watched {
        &:before {
          z-index: 10;
          background: rgba(255, 255, 255, 0.6);
        }
        .pseudo-checkbox {
          @extend .icon-check;
          color: $site-color-green;
        }
      }
      .part-left {
        width: 55px;
        height: 1px;
        float: left;
        position: relative;
      }
      .pseudo-checkbox {
        @include icon-FontAwesome();
        color: $site-color-medium-graphite;
        @extend .icon-check-empty;
      }
      .part-right {
        width: 90px;
        height: 1px;
        float: right;
        position: relative;
      }
      .lesson-content {
        text-align: left;
        overflow: hidden;
      }
    }
    .title {
      margin-bottom: 5px;
    }
  }
  .view-all-lessons {
  }
}
.lessons-list-holder {
  margin-bottom: 40px;
  &:last-child {
    margin-bottom: 0;
  }
}
.series-img {
  width: 100%;
}
.series-list-item {
  margin-bottom: 50px;
  &:last-child {
    margin-bottom: 0;
  }
}